body{
    text-align: center;
}

.bbtitle{
    font-family: "Agency FB";
    font-size: 200%;
    color: black;
    font-weight: bold;
    text-align: center;
    height: 50%;

}

/*Previously Posted Messages*/
div.box {
       display: block;
    background-color: white;
    width: 60%;
    Height: auto;
    border-color: #00b6ee;
    border-radius: 3px;
    border-style: solid;
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
}

/*div.box {*/
    /*position: relative;*/
    /*display: block;*/
    /*background-color: white;*/
    /*width: 100%;*/
    /*Height: auto;*/
    /*border-color: #00b6ee;*/
    /*border-radius: 3px;*/
    /*border-style: solid;*/
    /*margin-top: 20px;*/
    /*!* margin-left: -1%; *!*/
    /*!* margin-right: -1%; *!*/
/*}*/

div.time{
    float: right;
    margin-right: 10px;
    font-family: monospace;
    font-size: 16px;
    Color: #c1bfc0;
    width: 170px;
    background-color: white;
    padding-left: 10px;
}

.msgtitle {
    font-size: 200%;
    Color: #00b7ef;
    font-family: fantasy;
    margin-top: 2%;
    margin-left: 2%;
    text-align: left;
}

.msg{
    font-family: Arial;
    font-size: 16px;
    color: #c1bfc0;

    width: 750px;
    margin-left: 2%;
    margin-top: 2%;
    text-align: left;

}

.author{
    font-family: "Freestyle Script";
    font-size: 30px;
    color: #c1bfc0;
    text-align: right;
    margin-right: 40px;
    margin-top: 15px;
    margin-bottom: 20px;
}

/*Create New Message*/
div.addMsgBox{
  margin-left: 20%;
    margin-right: 20%;
    display: block;
    background-color: white;
    height: 70px;
    border: 2px black;
    border-style: dashed;
    margin-top: 1%;
    margin-bottom: 1%;
}

.plusBtn{
    display: inline-block;
    color: white;
    background-color: #66CDAA;
    height: auto;
    width: 100px;
    text-align: center;
    margin-top: 15px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    font-family: fantasy;
    font-weight: bold;
    border-style: none;
}

/*No Message Text*/
.noMsg{
    font-family: Arial;
    color: black;
    font-size: 24px;
    text-align: center;
    margin: 20px;
    display: inline-block;

}

/*Posr Message Box*/
div.postBox {
    margin-right: 20%;
    background-color: white;
    Height: auto;
    border-color: #00b6ee;
    border-radius: 3px;
    border-style: dashed;
    margin-top: 20px;
    margin-left: 20%;
}

.postTitle{
float: left;
    margin-left: 4%;
    margin-bottom: 2%;
        width: 25%;
}

.postMsg{
    width: 90%;
}

.postAuthor{
    margin: 20px;
    text-align: right;
}

/*Submit Toggle Box*/
.submitPostBox{
 position: absolute;
    display: block;
    background-color: white;
    /*height: 22%;*/
    width: 59%;
    border: 2px black;
    border-style: dashed;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 20%;
}

.xBtn{
    color: white;
    background-color: red;
    height: auto;
    width: 100px;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
    font-family: "Arial Black";
    font-weight: bold;
    border-style: none;
    vertical-align: middle;
    margin-bottom: 1%;
    margin-top: 1%;
}

.vBtn{
    color: white;
    background-color: #66CDAA;
    width: 100px;
    text-align: center;
    margin-left: 5px;
    /*height: 40px;*/
    border-radius: 5px;
    font-size: 20px;
    font-family: fantasy;
    font-weight: bold;
    border-style: none;
        vertical-align: middle;
 margin-bottom: 1%;
    margin-top: 1%;
}

/*.plus{*/
    /*color: white;*/
    /*text-align: center;*/
    /*margin-top: 5px;*/
    /*font-size: 40px;*/
    /*font-family: fantasy;*/
    /*font-weight: bold;*/
/*}*/

/*Mock up ONLY*/

.box2{
    display: inline-block;
    background-color: white;
    width: 800px;
    Height: auto;
    border-color: #00b6ee;
    border-radius: 3px;
    border-style: solid;
    margin-top: 55px;
}

.time2{
    font-family: monospace;
    font-size: 16px;
    Color: #c1bfc0;
    width: 170px;
    position: absolute;
    top: 353px;
    left: 600px;
    background-color: white;
    padding-left: 10px;
}

.time3 {
    font-family: monospace;
    font-size: 16px;
    Color: #c1bfc0;
    width: 170px;
    /* position: absolute; */
    top: 913px;
    /* left: 600px; */
    background-color: white;
    padding-left: 10px;
}

div.fullBoard {
    display: block;
}
